@import "bootstrap-sprockets";
@import "bootstrap";
@import "static";
@import "articles";
@import "categories";
@import "redactor-rails.css";
@import "redactor-rails/plugins.css";
@import "variables";


body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  color: $main-text-color;

  a {
    color: $main-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #666666;
    }
  }

  #header {
    background: $main-color;
    border-radius: 0;
    border: 0;

    .logo-img {
      margin-right: -3px;
      margin-top: -1px;
    }

    a {
      color: white;
      border-top: 2px solid rgba(#ffffff, 0);
      &:hover {
        border-top: 2px solid #fafafa;
      }
    }
    .navbar-nav {
      li {

      }
    }

    #navbar-collapse {

      ul {
        img {
          border-radius: 50%;
          margin-top: -8px;
          margin-left: 5px;
        }
      }
    }

    .navbar-brand {
      margin-top: -4px;

      h1 {
        font-size: 1.5em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // CONTAINER DEC STYLES
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .alert-notice {
    @extend .alert-success;
  }

  .alert-alert {
    @extend .alert-warning;
  }

  .main-controller {
    h2 {
      @extend .text-center;
      font-size: 1.25em;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  // FOOTER
  footer {
    border-top: 1px solid #cbc8c8;
    position: block;
    margin-top: 50px;
    width: 100%;
    padding: 20px;

    #footer-navs {
      ul {
        margin: 5px;
        li {
          display: inline-block;
          padding-left: 10px;
          font-size: 0.9em;
        }
      }
    }
  }
  //REGISTRATION AND SESSIONS FORMS
  #new_user {
    div {
      margin-top: 10px;
    }
  }
  //add sessions styling
  .check-box-sessions{
      width: 15%;
  }



  .redactor-box {
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }

  .input-group {
    width: 400px;
  }
}

.debug_dump {
  clear: both;
  float: right;
  width: 40%;
  margin-top: 45px;
}



// PAGINATION TRY
.pagination-1 {
  @extend .text-center;
}
.pagination {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  a, .current, .next_page, .previous_page {
    background: transparent;
    border-radius: 40px;
    border: 1px solid $main-middle-color;
    color: $main-color;
    display: inline-block;
    font-size: 1em;
    margin: 0.5%;
    min-height: 2.6em;
    padding: 0.4em 1em;
    &.current, &:hover {
      background: $main-color;
      color: #fff;
    }
  }

  .next_page, .previous_page{
    min-width: 9em;
  }
}
