@import "bootstrap-sprockets";
@import "bootstrap";
@import "static";
@import "articles";
@import "categories";
@import "redactor-rails.css";
@import "redactor-rails/plugins.css";

body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2f2f2f;
}

#header {
  background: rgba(210,210,210,1);
  background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 87%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,210,210,1)), color-stop(87%, rgba(210,210,210,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 87%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 87%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 87%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,1) 87%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#ffffff', GradientType=0 );
  border-radius: 0;
  border: 0;

  .logo-img {
    margin: 10px 15px 0 0;
    padding-bottom: 10px
  }

  #navbar-collapse {

    ul {
      img {
        border-radius: 50%;
        margin-top: -8px;
        margin-left: 5px;
      }
    }
  }

  .navbar-brand {
    margin-top: -4px;

    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

.main-controller {
  h2 {
    @extend .text-center;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
