@import "bootstrap-sprockets";
@import "bootstrap";
@import "static";
@import "articles";
@import "categories";
@import "redactor-rails.css";
@import "redactor-rails/plugins.css";

body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2f2f2f;

  a {
    color: #2f2f2f;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #666666;
    }
  }

  #header {
    background: #c6c4c4;
    border-radius: 0;
    border: 0;

    .logo-img {
      margin: 10px 15px 0 0;
      padding-bottom: 10px
    }

    #navbar-collapse {

      ul {
        img {
          border-radius: 50%;
          margin-top: -8px;
          margin-left: 5px;
        }
      }
    }

    .navbar-brand {
      margin-top: -4px;

      h1 {
        font-size: 1.5em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  // CONTAINER DEC STYLES
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .alert-notice {
    @extend .alert-success;
  }

  .alert-alert {
    @extend .alert-warning;
  }

  .main-controller {
    h2 {
      @extend .text-center;
      font-size: 1.25em;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  // FOOTER
  footer {
    border-top: 1px solid #cbc8c8;
    position: block;
    margin-top: 50px;
    width: 100%;
    padding: 20px;

    #footer-navs {
      ul {
        margin: 5px;
        li {
          display: inline-block;
          padding-left: 10px;
          font-size: 0.9em;
        }
      }
    }
  }
  //add margins styling registr. form
  #new_user {
    div {
      margin-top: 10px;
    }
  }
  //add sessions styling
  .check-box-sessions{
      width: 20%;
      border-left: 1px solid #98a1a0;
      border-right: 1px solid #98a1a0;
  }
}
