@import "variables";

.category {
  padding: 10px;
  margin: 0;
  article {
    background-color: $list-light-color;
    position: relative;
    padding-top: 45px;
    padding-bottom: 1px;
    border-radius: 3px;

    ul {
      margin: 0;
      padding: 0 20px;
      list-style-type: none;
      li {
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10px;
        &:hover {
          background-color: $main-super-light;
        }
        h4 {
          margin: 0;
          padding: 0;
        }
        small {
          color: $main-light-text-color;
        }
      }

      a {
        text-decoration: none;
        &:hover {
          color: inherit;
        }
      }
    }

    a {
      color: inherit;
      &:hover {
        color: #2a79ff;
      }
      h3 {
        width: 100%;
        padding: 5px 15px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $main-light-color;
        border-radius: 3px 3px 0 0;
      }
    }
  }
}
