<% provide(:title, t(:all_categories)) %>

<h2><%= t(:all_categories) %>:</h2>

<%= link_to t(:new_article), new_article_path, class: "btn btn-primary pull-right" %>
<div class="clearfix"></div>

<div class="row">
  <%= render @categories %>
</div>

<div class="pagination-1">
  <%= will_paginate @categories %>
</div>
