<h2><%= @category.name %></h2>

<section class="articles">
  <% @category.articles.each do |article| %>
    <%= render "articles/article", article: article %>
  <% end %>
</section>

<% # react_component "Articles", { data: @category.articles } %>
